html,body
  {
      width: 100%;
      height: 100%;
      margin: 0px;
      padding: 0px;
  }
  
#header
{
    height: 80vh;
    background: linear-gradient(rgba(0,0,0,0.6),rgba(0,0,0,0.6)), url(img/codingone.jpg);
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: abosolute;
    overflow-x: hidden;
}

.user-box
{
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    position: absolute;
}

.user-box img
{
    border-radius: 50%;
    width: 250;
    border: 2px solid #6caed5;

}

.user-box h1
{
    color: #fff;
    font-weight: bold;
    margin: 10px;
}

.user-box p
{ 
    color: #fff;
    
}

.scroll-btn
{
    bottom: 30px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    border: 2px solid #fff;
    padding: 10px 10px 20px;
    border-radius: 30px;
}

.scroll-bar span
{
    border: 2px solid white;
    font-size: 10px;
    border-radius: 30px;

}

.scroll-bar 
{
    animation: mover 1s infinite alternate
}

@keyframes mover
{
    0%{transform: translateY(0);}
    100%{transform: translateY(10px);}
}

/*-------About---------*/
.about
{
    padding-top: 100px;
    padding-bottom: 50px;
    background: #fff;
    bottom: 0px;
    overflow-x: hidden; 
    padding-right: 50px;

}


.profile-img
{
    height: 100px;
}

.nav-bar
{
    top: 0;
    position: sticky;
    z-index: 4;
}

.navbar
{
    background-color: #000;
} 
.navbar-brand img
{
    height: 50px;
}

.nav-bar .fa-bars
{
    font-size: 35px;
    color: #fff;
}
.navbar-nav
{
    float: right;
    text-align: right;
}

.nav-link 
{
    color: #fff !important ;

}
/*----Resume----*/
.resume
{
    padding-top: 50px;
    padding-bottom: 30px;
    background: #f9f9f9;
}

.resume h3
{
    margin-bottom: 50px;
}

.timeline 
{
    list-style-type: none; 
    position: relative;

}

.timeline:before
{
    content: '';
    background: #555;
    display: inline-block;
    position: absolute;
    left: 29px;
    width: 2px;
    height: 100%;
    z-index: 2;
}

.timeline li
{
    margin-top: 20px;
    margin-bottom: 20px;
    margin-left: 20px;
    background: #fff;
}

.timeline li h4
{

    background-color: #000;
    padding: 5px 0 5px 20px;
    color  : #fff;
    font-size: 15px;
   
}

.timeline li h4 span
{
    font-weight: bold;
    color: #ccc;
}

.timeline li:before
{
    content: '';
     background: #fff;
     display: inline-block;
      position: absolute;
      border-radius: 50%;
      border: 3px solid #000;
      left: 20px;
      width: 20px;
      height: 20px;
      z-index: 3;
}
/*----Projects 2----*/
.project2
{
  margin: 0;
  padding: 0;
  box-sizing: 'Poppins', sans-serif;  
  display: flex;
  justify-content: center;
  align-items: center;
  background: #222;
  min-height: 100vh;
}

.container3
{
    position: relative;
    width: 1000px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 10px;
}

.container3 .card
{
    position: relative;
    height: 300px;
    background: #fff;
    display: flex;
    width: 45%;
    margin: 30px 0;
}

.container3 .card .imgBx
{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #333;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    transition: 0.5s ease-in-out;
    z-index: 1;
}

.container3 .card:hover .imgBx
{
    width: 150px;
    height: 150px;
    left: -75px;
    top: calc(50% - 75px);
    transition: 0.5s ease-in-out;
    background: #170acc;
}
.container3 .card .imgBx:before
{
content: attr(data-text);
position: absolute;
bottom: 0;
left: 0;
width: 100%;
height: 100%;
text-align: center;
font-size: 6em;
color: rgba(255, 255, 255,.05);
font-weight: 700;
}

.container3 .card .imgBx img
{
max-width: 100px;
transition: 0.5s ease-in-out;

}

.container3 .card:hover .imgBx img
{
max-width: 75px;
transition: 0.5s ease-in-out;
}

.container3 .card .content
{
    position: absolute;
    right: 0;
    width: calc(100% - 75px);
    height: 100%;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container3 .card .content a
{
    display: inline-block;
    margin-top: 10px;
    padding: 5px 10px;
    background: #333;
    text-decoration: none;
    color: #fff;
}

@media (max-width: 922px)
{
    .container3
    {
        width: 100%;
        flex-direction: column;
        align-items: center;
    }
    .container3 .card
    {
        width: 400px;

    }
}


@media (max-width: 768px)
{
    .container3 .card
    {
        max-width: 300px;
        flex-direction: column;
        height: auto;
    }

    .container3 .card .imgBx
    {
        position: relative;
    }

    .container3 .card .imgBx,
    .container3 .card:hover .imgBx
    {
        width: 100%;
        height: 200px;
        left: 0;
    }
    .container3 .card .imgBx img,
    .container3 .card:hover .imgBx img
    {
        max-width: 100px;

    }
    .container3 .card .content
    {
        position: relative;
        width: 100%;

    }
}
/*------Services---*/
.services
{
    padding-top: 50px;
    padding-bottom: 50px;
    background: #fff;
}

.services h1
{
    margin-bottom: 15px;

}

 .services-box
 {
     background:  #f9f9f9;
     padding: 10px;
     margin-top: 20px;
     border-top-right-radius: 50px;
    border-bottom-left-radius: 50px;
 }

 .services-box .fa
 {
    margin: 0 10px;
 }

 .services-box span
 {
    margin: 3px;
    font-size: 20px;
    font-weight: bold;
 }

 .services-box p
 {
     font-size: 15px;
     margin-top: 20px;
     color: #777;
 }

 .services-box:hover
 {
     background: #000;
     border-top-left-radius: 50px;
     border-bottom-right-radius: 50px;
     transition: 1s;
 }

 .services-box:hover p 
 {
     color: #fff;

 }

 .services-box:hover span 
 {
     color: #fff;

 }

/*---contact--*/

.contact
{
    padding-top: 50px;
    background: linear-gradient(rgba(0,0,0,0.8),rgba(0,0,0,0.8 )),#AEAEA8;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    color: #fff;
    overflow: hidden;
}

.contact .row
{
     padding: 30px 0;
     font-size: 22px;
}

.contact .col-md-4 .fa
{
    padding: 10px;
    font-size: 40px;
     
}

.contact .btn
{
     padding: 10px 25px 10px  25px;
     margin: 5px;
     border-radius: 30px;
     border: 2px solid #fff;
     background: red; 
}

.contact .btn:focus
{
    box-shadow: none !important;
}

 .contact .btn:hover
 {
      border: 2px solid #000 !important;
      background: white(207, 18, 18) !important;
      transition: 0.6s;
 }


.contact .btn .fa
{
    margin-right: 10px;
    margin-left: 10px
}

.footer
{
    background: rgb(160, 160, 36);
    height: 50px;
    margin-top: 50px;
    color: #fff;
    padding-top: 10px;
}
